@import "~bootstrap/scss/bootstrap"

.features
    margin-top: 3em

    .row
        border-bottom: 1px solid #DDD
        margin-bottom: 3em
        padding-bottom: 3em

        img
            margin-bottom: 1em
        img:last-child
            margin-bottom: 0em

    .row:last-child
        border: 0px
