@import "~bootstrap/scss/bootstrap"

.features
    .row
        margin-bottom: 2em
        border-bottom: 1px solid #DDD
        padding-bottom: 2em

        img
            margin-bottom: 1em
        img:last-child
            margin-bottom: 0em

    .row:last-child
        border: 0px
